:root {
  --vp-c-brand-1: #3eaf7c;
  --vp-c-brand-2: #3eaf7c;
  --vp-c-brand-3: #3eaf7c;
  --vp-c-brand-soft: rgba(62, 175, 124, 0.14);
}

.dark {
  --vp-c-brand-1: #4ecca3;
  --vp-c-brand-2: #4ecca3;
  --vp-c-brand-3: #4ecca3;
  --vp-c-brand-soft: rgba(78, 204, 163, 0.14);
}

.vp-doc .custom-block.tip {
  border-color: var(--vp-c-brand-1);
}

.vp-doc div[class*='language-'] {
  border-radius: 8px;
}

.vp-doc img {
  border-radius: 8px;
}

.vp-doc .header-anchor {
  text-decoration: none;
}
